//头部遮罩的过渡动画
.mask-enter{ opacity: 0 !important;}
.mask-enter-active{transition: 1s opacity !important;}
.mask-enter-to{ opacity: 1 !important;}
.mask-leave-active{transition: 1s opacity !important;}
.mask-leave-to{ opacity: 0 !important;}


//v-leave 是不启作用的 我们的拿元素一开始的状态 充当v-leave的状态
//内联元素 是没有办法产生动画的
//购物车控制组件 remove按钮的动画
.contorlRemove-enter{
  opacity: 0 !important;
  transform translate3d(24px,0,0) rotate(0deg)!important;
}
.contorlRemove-enter-active{
  transition: .3s all linear !important;
}
.contorlRemove-enter-to{
   opacity: 1 !important;
   transform translate3d(0,0,0) rotate(-360deg)!important;
 }

.contorlRemove-leave-active{
  transition: .3s all linear !important;
}
.contorlRemove-leave-to{
  opacity: 0 !important;
  transform translate3d(24px,0,0) rotate(0deg)!important;
}